.container {
    position:relative
    width: auto;
    height: 2300px;
    padding: 5px;
    border: 1px solid red;
    background: #fff3cd;
}

.title {
    font-size: 50px;
    font-family: 'Alegreya SC';
    margin-top: -50px;
    
}

.top {
    position: relative;
    height: 250px;
    width: auto;
    border: 2px solid black;
    background: #f4ea8e;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 5px #dbdbdb;
}

.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    margin-top: -25px;
}

.name {
    position: absolute;
    height: auto;
    width: auto;
    border: 1px solid black;
    font-size: 50px;
    padding: 10px;
    background: #d63447;
}

.work {
    position: absolute;
    right: 0;
    bottom: 0;
    border: 1px solid black;
    height: auto;
    width: auto;
    background: #d63447;
    font-size: 50px;
}

#leftbox {
    float: left;
}

.content {

    background: grey;

    margin-left: 100px;
    border: 0px solid black;
    width: 500px;
    height: 1700px;
    margin-top: 30px;
    display: grid;
    grid-template-rows: 340px 340px 340px 340px 340px;
}

.a {
    background: #fff3cd;
}

.imga {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: auto;
    width: 350px;
    height: 300px;
    border: 2px solid black;
    opacity: 1;
    box-shadow: 10px 10px 10px #d63447;
}

#rightbox {
    float: left;
}

.content2 {
    position: relative;
    background: #edf4f2;
    margin-right: 50px;
    margin-left: 100px;
    border: 0px solid black;
    width: 690px;
    height: 1600px;
    margin-top: 50px;
    background:#fff3cd;
}

.line1 {
    margin-left: 10px;
    margin-right: 10px;
    background: #f4722b;
    font-size: 25px;
    font-family: 'Taviraj';  
}

.line2 {
    margin-left: 10px;
    margin-right: 10px;
    background: #5fdde5;
    font-size: 25px;
    font-family: 'Taviraj'; 
}


